<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/vue.min.js"></script>
</head>
<body>

    <div id="app">
        <ul>
<!--            <li v-for="value in users">{{value}}</li>-->
            <li v-for="(value,index) in users">{{value}}-{{index}}</li>
        </ul>
    </div>

    <script type="text/javascript">
       let app=new Vue({
           el:'#app',
           data:{
               users:["fatemeh","afsaneh","amir"]
           },

        })
    </script>

</body>
</html>